@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

/* reset */

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca';
    height: 100vh;
}
/* main */

main {
    display: flex;
    max-width: 950px;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

section {
    max-width: 950px;
    max-height: 530px;
    margin-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
}

article.sedan-card {
    background-color: var(--Bright-orange);
}

article.suv-card {
    background-color: var(--Dark-cyan);
}

article.luxury-card {
    background-color: var(--Very-dark-cyan);
}

article img {
    padding: 25px;
    margin: 20px 0;
}
article h2 {
    padding: 25px;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 40px;
}

article p {
    padding: 25px;
    margin: 20px 0;
    color: var(--Transparent-white);
}

/* buttons */

article button  {
    margin: 25px;
    color: var(--Very-light-gray);
    padding: 15px 30px;
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer;
}

.btn-sedan {
    background-color: var(--Bright-orange);
}
.btn-suv {
    background-color: var(--Dark-cyan);
}
.btn-luxury{
    background-color: var(--Very-dark-cyan);
}

/* footer */

.attribution {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
    text-align: center;
}

.attribution a {
    text-decoration: none;
}